.DS_Store
HUAT/android/.idea/deploymentTargetDropDown.xml
HUAT/android/app/src/main/res/xml/config 2.xml
HUAT/android/.idea/misc.xml
HUAT/ios/App/App/config 2.xml
HUAT/android/local.properties
HUAT/android/.gradle/file-system.probe
HUAT/android/.gradle/7.4.2/gc.properties
HUAT/android/.gradle/7.4.2/checksums/checksums.lock
HUAT/android/.gradle/7.4.2/checksums/md5-checksums.bin
HUAT/android/.gradle/7.4.2/checksums/sha1-checksums.bin
HUAT/android/.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
HUAT/android/.gradle/7.4.2/dependencies-accessors/gc.properties
HUAT/android/.gradle/7.4.2/executionHistory/executionHistory.bin
HUAT/android/.gradle/7.4.2/executionHistory/executionHistory.lock
HUAT/android/.gradle/7.4.2/fileChanges/last-build.bin
HUAT/android/.gradle/7.4.2/fileHashes/fileHashes.bin
HUAT/android/.gradle/7.4.2/fileHashes/fileHashes.lock
HUAT/android/.gradle/7.4.2/fileHashes/resourceHashesCache.bin
HUAT/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
HUAT/android/.gradle/buildOutputCleanup/cache.properties
HUAT/android/.gradle/buildOutputCleanup/outputFiles.bin
HUAT/android/.gradle/vcs-1/gc.properties
HUAT/android/.idea/gradle.xml
HUAT/android/.idea/vcs.xml
HUAT/android/.idea/workspace.xml
HUAT/android/app/build/generated/source/buildConfig/debug/io/ionic/starter/BuildConfig.java
HUAT/android/app/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
HUAT/android/app/build/intermediates/app_metadata/debug/app-metadata.properties
HUAT/android/app/build/intermediates/compatible_screen_manifest/debug/output-metadata.json
HUAT/android/app/build/intermediates/dex/debug/mergeExtDexDebug/classes.dex
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7D+B76DHsXhOUZVaHd8bN1l++oI=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/390P4OoResPiQjCYj3+91ZniHvs=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/a+8ykOPwcXQ6G4opQMoa4a8POpQ=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/AlMCTGwDUhbjxeORwm+VdqaW9ko=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DIWI_Z5MPnlYtESu0yNto0t__1Y=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Dk_DGS5RXGBEFzpidQzomvxUzI0=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dyhSArhFXRHvlCdUudCLw5JDetw=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EWygj8Rt2UCKJP7LVpehk1WHwis=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/f2+aEeCWlbmlQGLOQUDBAFw9fiU=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fDuNGZRd8kOw_33LyQAj12Houms=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/H20uywGSTlKW8rhZ5xTZlvfBLNg=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hmyHnIW6ILeSZRv6_V03xzESgqc=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IvEERq4tO8dwHLej1zc6Qg3Tt4Y=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/K6uZUTo62OKW4_8ltEFydHQNQ0E=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Kp98_TUsRc6We3RkeEAgzEK034U=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kV4l5YjQ6a1QmPC7QFrMgeaPHCU=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lQFTNzeUXTRo8itpd43SHRuO7ik=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LTpxPpt8uFKdFJ_EAEl2Fnq8LL4=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/nHlR59kuTi4JnYsnvIrqjFwIUH4=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/niTESrYE9dlaOPF5jx8ETYqF0kg=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/oG40hySE3ersoeWso3DpZwxXwo0=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/OOkGy_mdmVa+KZgi6FvxtW27QyM=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/OSnh6r+pwZdbHGsFZUtaivFEsUU=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/p9fUwHAwfm0FNBZGhDgKDr5KMC0=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/pQa5LDmvwingAjYdLScIkPnKnOg=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Q0LzUlGzueN19Cdc330c59wXubY=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/R2piSn2EDkTz5H28__ygvBnygrc=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TKi_opqLLicWTO44SzaHsw+rG_k=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tna0ERY_BsZEtdnjktMfzrUZyR4=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ts7+FSAYV++bkNj7T_oTKNBSnCY=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TUiv5qUlWER2kT+jVoM6xzXKtvg=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tZXN5G0rKDPDatLKioYwFW0_lsw=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/v4QJWp7npHta1LsJzk_N3f5SYBw=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/VyiqwkjdvSZYLGwInDl6eMQdnYk=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/W9xIOo6NJRDn3vq4RDTrHoisZ4c=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WIhDGT1zvGkDxD1Eim5UvLxoILc=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WMtKKWrZrcppRNpXIdFHptgRPf4=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/woeHweNP+2Y8pM9lOW3o7UVQE2A=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/y7yHSi6yIkBXRgGiJe_seeW_+3k=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/yjfls6pJ_rCNn7h5_GCu_uPwPjQ=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zCGHTbK52s8JYa_aDphgwHW9dhA=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zkltrnbuNQa8UdZBWKEmQVsy10U=
HUAT/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZUsbtc1eLy3rdrV40VUo4abNaRE=
HUAT/android/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
HUAT/android/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
HUAT/android/app/build/intermediates/merged_java_res/debug/base.jar
HUAT/android/app/build/intermediates/navigation_json/debug/navigation.json
HUAT/android/app/build/intermediates/signing_config_versions/debug/signing-config-versions.json
HUAT/android/app/src/main/assets/capacitor.config.json
HUAT/android/app/src/main/assets/capacitor.plugins.json
HUAT/android/app/src/main/assets/public/cordova_plugins.js
HUAT/android/app/src/main/assets/public/cordova.js
HUAT/android/app/src/main/assets/public/index.html
HUAT/android/app/src/main/assets/public/assets/shapes.svg
HUAT/android/app/src/main/assets/public/assets/icon/favicon 3.png
HUAT/android/app/src/main/assets/public/assets/icon/favicon.png
HUAT/android/app/src/main/assets/public/assets/icon/icon 2.png
HUAT/android/app/src/main/assets/public/assets/icon/icon.png
HUAT/android/app/src/main/assets/public/assets/images/ion 2.jpg
HUAT/android/app/src/main/assets/public/assets/images/ion.jpg
HUAT/android/app/src/main/assets/public/assets/images/wisma 2.jpeg
HUAT/android/app/src/main/assets/public/assets/images/wisma.jpeg
HUAT/android/app/src/main/assets/public/css/479.70e9a5cd.css
HUAT/android/app/src/main/assets/public/css/501.ba866f80.css
HUAT/android/app/src/main/assets/public/css/641.78d49eb6.css
HUAT/android/app/src/main/assets/public/css/app.efc75537.css
HUAT/android/app/src/main/assets/public/img/nets.28cc9b1e.png
HUAT/android/app/src/main/assets/public/js/338-legacy.88459b43 2.js
HUAT/android/app/src/main/assets/public/js/338-legacy.88459b43.js
HUAT/android/app/src/main/assets/public/js/338-legacy.88459b43.js 2.map
HUAT/android/app/src/main/assets/public/js/338-legacy.88459b43.js.map
HUAT/android/app/src/main/assets/public/js/338.88459b43 2.js
HUAT/android/app/src/main/assets/public/js/338.88459b43.js
HUAT/android/app/src/main/assets/public/js/338.88459b43.js 2.map
HUAT/android/app/src/main/assets/public/js/338.88459b43.js.map
HUAT/android/app/src/main/assets/public/js/390-legacy.23eb33f2.js
HUAT/android/app/src/main/assets/public/js/390-legacy.23eb33f2.js.map
HUAT/android/app/src/main/assets/public/js/390.31c2486d.js
HUAT/android/app/src/main/assets/public/js/390.31c2486d.js.map
HUAT/android/app/src/main/assets/public/js/456-legacy.3fb4b85a.js
HUAT/android/app/src/main/assets/public/js/456-legacy.3fb4b85a.js.map
HUAT/android/app/src/main/assets/public/js/456.3fb4b85a 2.js
HUAT/android/app/src/main/assets/public/js/456.3fb4b85a.js
HUAT/android/app/src/main/assets/public/js/456.3fb4b85a.js 2.map
HUAT/android/app/src/main/assets/public/js/456.3fb4b85a.js.map
HUAT/android/app/src/main/assets/public/js/458-legacy.5773d9d2.js
HUAT/android/app/src/main/assets/public/js/458-legacy.5773d9d2.js.map
HUAT/android/app/src/main/assets/public/js/458.e2ad8d8c.js
HUAT/android/app/src/main/assets/public/js/458.e2ad8d8c.js.map
HUAT/android/app/src/main/assets/public/js/479-legacy.a490a526.js
HUAT/android/app/src/main/assets/public/js/479-legacy.a490a526.js.map
HUAT/android/app/src/main/assets/public/js/479.a1b719e5.js
HUAT/android/app/src/main/assets/public/js/479.a1b719e5.js.map
HUAT/android/app/src/main/assets/public/js/501-legacy.5f7c3fa5.js
HUAT/android/app/src/main/assets/public/js/501-legacy.5f7c3fa5.js.map
HUAT/android/app/src/main/assets/public/js/501.15b2cf98.js
HUAT/android/app/src/main/assets/public/js/501.15b2cf98.js.map
HUAT/android/app/src/main/assets/public/js/576-legacy.e369a6ad 2.js
HUAT/android/app/src/main/assets/public/js/576-legacy.e369a6ad.js
HUAT/android/app/src/main/assets/public/js/576-legacy.e369a6ad.js.map
HUAT/android/app/src/main/assets/public/js/576.e369a6ad.js
HUAT/android/app/src/main/assets/public/js/576.e369a6ad.js.map
HUAT/android/app/src/main/assets/public/js/641-legacy.2268cccb.js
HUAT/android/app/src/main/assets/public/js/641-legacy.2268cccb.js.map
HUAT/android/app/src/main/assets/public/js/641.ade45acf.js
HUAT/android/app/src/main/assets/public/js/641.ade45acf.js.map
HUAT/android/app/src/main/assets/public/js/753-legacy.8a401dda 2.js
HUAT/android/app/src/main/assets/public/js/753-legacy.8a401dda.js
HUAT/android/app/src/main/assets/public/js/753-legacy.8a401dda.js.map
HUAT/android/app/src/main/assets/public/js/753.8a401dda.js
HUAT/android/app/src/main/assets/public/js/753.8a401dda.js.map
HUAT/android/app/src/main/assets/public/js/980-legacy.9fec9602.js
HUAT/android/app/src/main/assets/public/js/980-legacy.9fec9602.js.map
HUAT/android/app/src/main/assets/public/js/980.9fec9602 2.js
HUAT/android/app/src/main/assets/public/js/980.9fec9602.js
HUAT/android/app/src/main/assets/public/js/980.9fec9602.js 2.map
HUAT/android/app/src/main/assets/public/js/980.9fec9602.js.map
HUAT/android/app/src/main/assets/public/js/app-legacy.c31c351b.js
HUAT/android/app/src/main/assets/public/js/app-legacy.c31c351b.js.map
HUAT/android/app/src/main/assets/public/js/app.d31e21e5.js
HUAT/android/app/src/main/assets/public/js/app.d31e21e5.js.map
HUAT/android/app/src/main/assets/public/js/chunk-vendors-legacy.17a9a06a.js
HUAT/android/app/src/main/assets/public/js/chunk-vendors-legacy.17a9a06a.js.map
HUAT/android/app/src/main/assets/public/js/chunk-vendors.17a9a06a 2.js
HUAT/android/app/src/main/assets/public/js/chunk-vendors.17a9a06a.js
HUAT/android/app/src/main/assets/public/js/chunk-vendors.17a9a06a.js 2.map
HUAT/android/app/src/main/assets/public/js/chunk-vendors.17a9a06a.js.map
HUAT/android/app/src/main/res/xml/config.xml
HUAT/android/capacitor-cordova-android-plugins/build.gradle
HUAT/android/capacitor-cordova-android-plugins/cordova.variables.gradle
HUAT/android/capacitor-cordova-android-plugins/build/.transforms/74db019b21259a7ccf5c93f9bc1450c4/results.bin
HUAT/android/capacitor-cordova-android-plugins/build/.transforms/74db019b21259a7ccf5c93f9bc1450c4/transformed/desugar_graph.bin
HUAT/android/capacitor-cordova-android-plugins/build/.transforms/74db019b21259a7ccf5c93f9bc1450c4/transformed/debug/capacitor/android/plugins/BuildConfig.dex
HUAT/android/capacitor-cordova-android-plugins/build/.transforms/c913b7e87cd6e449afd8eba4af4de28f/results.bin
HUAT/android/capacitor-cordova-android-plugins/build/generated/source/buildConfig/debug/capacitor/android/plugins/BuildConfig.java
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/aar_metadata/debug/aar-metadata.properties
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/compile_library_classes_jar/debug/classes.jar
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/compile_r_class_jar/debug/R.jar
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/compile_symbol_list/debug/R.txt
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/incremental/debug/packageDebugResources/merger.xml
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/incremental/mergeDebugShaders/merger.xml
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/incremental/packageDebugAssets/merger.xml
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/javac/debug/classes/capacitor/android/plugins/BuildConfig.class
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/local_only_symbol_list/debug/R-def.txt
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/merged_manifest/debug/AndroidManifest.xml
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/navigation_json/debug/navigation.json
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/packaged_manifests/debug/output-metadata.json
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/runtime_library_classes_dir/debug/capacitor/android/plugins/BuildConfig.class
HUAT/android/capacitor-cordova-android-plugins/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
HUAT/android/capacitor-cordova-android-plugins/build/outputs/logs/manifest-merger-debug-report.txt
HUAT/android/capacitor-cordova-android-plugins/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
HUAT/android/capacitor-cordova-android-plugins/src/main/AndroidManifest.xml
HUAT/android/capacitor-cordova-android-plugins/src/main/java/.gitkeep
HUAT/android/capacitor-cordova-android-plugins/src/main/res/.gitkeep
HUAT/android/capacitor.settings.gradle
HUAT/android/app/capacitor.build.gradle
HUAT/android/app/src/main/assets/public/assets/shapes 2.svg
HUAT/android/app/src/main/assets/public/assets/icon/favicon 2.png
HUAT/android/app/src/main/assets/public/assets/icon/icon 3.png
HUAT/android/app/src/main/assets/public/assets/images/ion 3.jpg
HUAT/android/app/src/main/assets/public/assets/images/wisma 3.jpeg
HUAT/android/app/src/main/assets/public/css/139.0f7458ac.css
HUAT/android/app/src/main/assets/public/css/162.438b8af8.css
HUAT/android/app/src/main/assets/public/css/407.90bbd644.css
HUAT/android/app/src/main/assets/public/css/app.6fb57549.css
HUAT/android/app/src/main/assets/public/img/nets.28cc9b1e 2.png
HUAT/android/app/src/main/assets/public/js/78-legacy.4a1e7a32.js
HUAT/android/app/src/main/assets/public/js/78.4a1e7a32.js
HUAT/android/app/src/main/assets/public/js/139-legacy.fffcb1b3.js
HUAT/android/app/src/main/assets/public/js/139.fffcb1b3.js
HUAT/android/app/src/main/assets/public/js/162-legacy.e57a7be3.js
HUAT/android/app/src/main/assets/public/js/162.e57a7be3.js
HUAT/android/app/src/main/assets/public/js/261-legacy.32cd3711.js
HUAT/android/app/src/main/assets/public/js/261.32cd3711.js
HUAT/android/app/src/main/assets/public/js/311-legacy.ea995d76.js
HUAT/android/app/src/main/assets/public/js/311.ea995d76.js
HUAT/android/app/src/main/assets/public/js/338-legacy.88459b43 3.js
HUAT/android/app/src/main/assets/public/js/338.88459b43 3.js
HUAT/android/app/src/main/assets/public/js/407-legacy.279da087.js
HUAT/android/app/src/main/assets/public/js/407.279da087.js
HUAT/android/app/src/main/assets/public/js/456-legacy.61f95053.js
HUAT/android/app/src/main/assets/public/js/456.61f95053.js
HUAT/android/app/src/main/assets/public/js/458-legacy.8c3e7331.js
HUAT/android/app/src/main/assets/public/js/458.8c3e7331.js
HUAT/android/app/src/main/assets/public/js/541-legacy.2b3bb703.js
HUAT/android/app/src/main/assets/public/js/541.2b3bb703.js
HUAT/android/app/src/main/assets/public/js/544-legacy.1e1ac4d2.js
HUAT/android/app/src/main/assets/public/js/544.1e1ac4d2.js
HUAT/android/app/src/main/assets/public/js/576-legacy.e369a6ad 3.js
HUAT/android/app/src/main/assets/public/js/576.e369a6ad 2.js
HUAT/android/app/src/main/assets/public/js/642-legacy.0f0b2463.js
HUAT/android/app/src/main/assets/public/js/642.0f0b2463.js
HUAT/android/app/src/main/assets/public/js/719-legacy.322f762e.js
HUAT/android/app/src/main/assets/public/js/719.322f762e.js
HUAT/android/app/src/main/assets/public/js/753-legacy.8a401dda 3.js
HUAT/android/app/src/main/assets/public/js/753.8a401dda 2.js
HUAT/android/app/src/main/assets/public/js/775-legacy.cf6ddf81.js
HUAT/android/app/src/main/assets/public/js/775.cf6ddf81.js
HUAT/android/app/src/main/assets/public/js/777-legacy.668e7351.js
HUAT/android/app/src/main/assets/public/js/777.668e7351.js
HUAT/android/app/src/main/assets/public/js/823-legacy.d4d3101c.js
HUAT/android/app/src/main/assets/public/js/823.d4d3101c.js
HUAT/android/app/src/main/assets/public/js/980-legacy.19f3ede3.js
HUAT/android/app/src/main/assets/public/js/980.19f3ede3.js
HUAT/android/app/src/main/assets/public/js/app-legacy.d47aee56.js
HUAT/android/app/src/main/assets/public/js/app.2211417c.js
HUAT/android/app/src/main/assets/public/js/chunk-vendors-legacy.ab0dd24c.js
HUAT/android/app/src/main/assets/public/js/chunk-vendors.ab0dd24c.js
HUAT/android/capacitor-cordova-android-plugins/build 2.gradle
HUAT/android/capacitor-cordova-android-plugins/cordova.variables 2.gradle
HUAT/android/capacitor-cordova-android-plugins/src/main/AndroidManifest 2.xml
HUAT/android/capacitor-cordova-android-plugins/src/main/java/.gitkeep 2
HUAT/android/capacitor-cordova-android-plugins/src/main/res/.gitkeep 2
HUAT/ios/App/Podfile 2.lock
HUAT/ios/App/App/config 3.xml
